{
    "user_id": "你的USERID，去除双引号",
    "bot_token": "你的机器人TOKEN",
    "api_id": "https://my.telegram.org 在该网站申请到的id",
    "api_hash": "https://my.telegram.org 在该网站申请到的hash",
    "proxy": "是否使用代理，true 或者false，去除双引号",
    "proxy_type": "socks5或者http或者https", 
    "proxy_add": "代理IP地址例如：192.168.99.100", 
    "proxy_port": "代理端口，不需要双引号例如 5890",
    "StartCMD": "是否开启CMD命令，建议填false，开启填true，去除双引号"
}