ENV_PATH=

# 更新所有脚本（包括自用thirdpard脚本）
42 * * * * JDRUN update >> ROOT_DIR/log/CMD_JD.log 2>&1

# 删除 RmLogDaysAgo 指定天数以前的旧日志，本行为不记录日志：
57 13 * * * JDRUN clean

# 导出所有互助码清单，日志在log/helpcode下
48 * * * * JDRUN myhelp

# 重启挂机程序
# 33 13 * * * JDRUN hangup

# jd任务区域，运行jd_scripts脚本，仅列出长期任务作初始化用，AutoAddCron=true时，将自动添加短期任务。
# 请保留任务名称中的前缀"jd_"，去掉后缀".js"，如果有些任务你不想运行，注释掉就好了，不要删除。
# 非lxk0301/jd_scripts仓库中的脚本请使用jd命令，不要使用jd命令。请在最后保留一个空行。
5 9 * * * JDRUN jd_bean_change
