@import url(font-awesome.min.css);
@import url("css.css");


/*body,
 html {
  margin: 10;
  padding: 0;
} */
body {
 
	/* background: url("../img/banner.jpg") no-repeat; */
	background: #2e3842;
}

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		/* padding: 0; */
		/* border: 0; */
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	
button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 32pt;
  outline: none;
}
 

	h2 {
		font-size: 1.35em;
		line-height: 1.75em;
		
	}


button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
}

/* Blue button as seen on translate.google.com*/
button.blue {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  box-shadow: inset 0 1px 0 #80b0fb;
}

button.blue:hover {
  border: 1px #2f5bb7 solid;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
  background: #3f83f1;
}

button.blue:active {
  box-shadow: inset 0 2px 5px #2370fe;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 0.5em;
}

.container p {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.5em;
}

#qrcontainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  transition: all 0.3s;
}
#qrcontainer.hidden {
  opacity: 0;
  visibility: hidden;
}

#qrcontainer .qframe {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 0.5rem;
  border: #6d8a88 1px solid;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}
#qrcontainer .qframe #refresh_qrcode {
  width: 256px;
  height: 256px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 1rem;
  top: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#qrcontainer .qframe #refresh_qrcode.hidden {
  opacity: 0;
  visibility: hidden;
}
#qrcontainer .qframe #refresh_qrcode h3 {
  font-weight: normal;
}
#qrcontainer .qframe #refresh_qrcode .refresh {
  display: block;
  background: #e4393c;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  opacity: 1;
  z-index: 19;
  color: #fbfbfb;
  text-decoration: none;
  cursor: pointer;
}
#qrcontainer .qframe .info {
	padding: 5px;
    background-color: #ffffff;
    /* line-height: 1.5; */
    border-radius: 10px;
	border: 0px solid rgba(12,0,51,.1);
	margin-top: 3px;
}
#qrcontainer .qframe-close{
	
	/* padding-top: 5px; */
}

#qrcontainer .ps-box {
    padding: 5px 0;   
    border-radius: 10px;

}

#qrcontainer .ps-box input{
	width: 100%; 
    -webkit-border-radius: .08rem;
    border-radius: .08rem;
    border: 0px solid rgba(12,0,51,.1);
    margin-top: .24rem;
    text-align: center;
    color: #aaaaaa;
    border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 0 0 2px #007fd3;
	font-size: 16px;
    line-height: 2.5em;
}

#qrcontainer .ps-box input:focus {
			outline: none;
			box-shadow: 0 0 0 2px #21b2a6;
		}

 
 

.qq_group img{
	box-shadow: 0 0 0 1px #ffffff;
	padding: 2px 8px;
	border-radius: 6px;
		}


@media screen and (max-width: 480px) {
  .container p {
    font-size: 0.75rem;
    margin: 0;
    line-height: 1.5em;
  }
}

@media (min-width: 992px) {
  .elk-app {
    height: 100%;
  }
  .elk-side {
    width: 20rem;
  }
  .elk-container,
  .elk-main,
  .elk-side {
    overflow-y: auto;
  }
}
.elk-app,
body > .ember-view {
  margin-top: 8rem;
}
.bg-log {
  background: #f5f2f0;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.text-dark {
  color: #343a40 !important;
}





	p {
		margin: 0 0 2em 0;
	}


	  input, select, textarea {
		color: #fff; 
		font-family: "Open Sans", "微软雅黑", Helvetica, sans-serif;
		font-size: 15pt;
		font-weight: 400;
		letter-spacing: 0.075em;
		line-height: 1.65em;
	}
	
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		font-weight: 800;
		letter-spacing: 0.225em;
		/* line-height: 1em; */
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}
	
	
/* Banner */

	#banner {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}




		#banner h1 {
 
			font-size: 2.0em;
			color: orange;
 
		}
		
		
		#banner h2 {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
			z-index: 1;
		}

			#banner h2:before, #banner h2:after {
				-moz-transition: width 0.85s ease;
				-webkit-transition: width 0.85s ease;
				-ms-transition: width 0.85s ease;
				transition: width 0.85s ease;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner h2:before {
				top: 0;
				left: 0;
			}

			#banner h2:after {
				bottom: 0;
				right: 0;
			}

		#banner p {
			letter-spacing: 0.225em;
			text-transform: uppercase;
			color: #fff;
		}

			#banner p a {
				color: inherit;
			}

		#banner .more {
			-moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
			-webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
			-ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
			transition: transform 0.75s ease, opacity 0.75s ease;
			-moz-transition-delay: 3.5s;
			-webkit-transition-delay: 3.5s;
			-ms-transition-delay: 3.5s;
			transition-delay: 3.5s;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			border: none;
			/* bottom: 8em; */
			color: #fff;
			font-size: 0.8em;
			height: 8.5em;
			left: 50%;
			letter-spacing: 0.225em;
			margin-left: -8.5em;
			opacity: 1;
			outline: 0;
			padding-left: 0.225em;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 16em;
			z-index: 1;
		}

			#banner .more:after {
				background-image: url("../image/qqqun.jpg");	
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				bottom: -7em;
				content: '';
				display: block;
				height: 10em;
				left: 46%;
				margin: 0 0 0 -4.5em;
				position: absolute;
				width: 10em;
				border-radius: 11px;
			}

		#banner:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 3s ease-in-out;
			-webkit-transition: opacity 3s ease-in-out;
			-ms-transition: opacity 3s ease-in-out;
			transition: opacity 3s ease-in-out;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			background: #2e3842;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 0em 3em 5em 3em ;
				/* height: auto; */
				min-height: 0;
			}

				#banner h2 {
					font-size: 1.25em;
					
				}

				#banner br {
					/* display: none; */
				}

				#banner .more {
					/* display: none; */
				}

		}

	body.is-loading #banner h2 {
		-moz-transform: scale(0.95);
		-webkit-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}

		body.is-loading #banner h2:before, body.is-loading #banner h2:after {
			width: 0;
		}

	body.is-loading #banner .more {
		-moz-transform: translateY(8.5em);
		-webkit-transform: translateY(8.5em);
		-ms-transform: translateY(8.5em);
		transform: translateY(8.5em);
		opacity: 0;
	}

	body.is-loading #banner:after {
		opacity: 1;
	}


/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #fff;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0 !important;
				}

			ul.icons.major {
				padding: 1em 0;
			}

				ul.icons.major li {
					padding-right: 3.5em;
				}

					@media screen and (max-width: 736px) {

						ul.icons.major li {
							padding: 0 1em !important;
						}

					}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1.5em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.75em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1.5em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.75em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1.5em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1.5em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1.5em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.75em;
					width: calc(100% + 0.75em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.75em;
					}

			@media screen and (max-width: 736px) {

				ul.actions li {
					display: block;
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions li:first-child {
						padding-top: 0;
					}

					ul.actions li > * {
						margin: 0 auto !important;
						max-width: 30em;
						/* width: 100%; */
					}

						ul.actions li > *.icon:before {
							margin-left: -1em;
						}

				ul.actions.small li {
					padding: 0.5em 0 0 0;
				}

					ul.actions.small li:first-child {
						padding-top: 0;
					}

			}

	dl {
		margin: 0 0 2em 0;
	}
	
	
	
	
	
	
	
	
	
	
	
/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 3px;
		border: 0;
		box-shadow: inset 0 0 0 2px #fff;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 600;
		height: 3em;
		letter-spacing: 0.225em;
		line-height: 3em;
		padding: 0 2.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(144, 144, 144, 0.25);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(144, 144, 144, 0.5);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #ed4933;
			box-shadow: none !important;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #ef5e4a !important;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #eb341c !important;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

		@media screen and (max-width: 736px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				height: 3.75em;
				line-height: 3.75em;
			}

		}
		
		
/* Landing */

	body.landing #page-wrapper {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
	}

	body.landing #footer {
		background-color: rgba(29, 36, 42, 0.9);
	}

	body.is-mobile.landing #page-wrapper {
		background: none;
	}

	body.is-mobile.landing #banner,
	body.is-mobile.landing .wrapper.style4 {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/banner.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.is-mobile.landing #footer {
		background-color: #1d242a;
	}
	
	
 
 
/* Basic */

	@-ms-viewport {
		width: device-width;
	}
 
	body.is-loading *, body.is-loading *:before, body.is-loading *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
